<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="app">
  	<div class="container" ng-controller="MainController">
  		<form ng-submit="addTask(message)">
  			<input class="form-feild" type="text" ng-model="message" />
  			<input class="form-feild" type="date" />
  		</form>
 <h3>My ToDo's</h3>
  	<ul class="todolist">
  	<li ng-repeat="task in tasks" dada-id="{{ task.id}}">{{ task.title }}</li>
  	<li></li>
  		
  	</ul>
  </div>
  <script src="js/bundle.js"></script>
</body>
</html>
